:root{
    --black: #121212;
    --white: #FBF9FF;
    --cinza:#A6A6A6;
    --cinzaEscuro:#3D3D3D;
    --cinzaClaro:#363636;
    --laranja:#FF6C35;
    --cinza-menu: #303030;
}    
  
@media screen and (max-width:798px){
    .logo-menu{
        display: flex;
    }
    .nav{
      display: none;
    }
    .main{
        display: block;
        width: 100%;
      
    }
    .main .welcome{
        overflow-wrap: break-word;
        margin-left: auto;
        margin-right: auto;
        
    }
    .minha-foto{
        display: none;
    }
    
}

@media screen and (max-width:615px){
    .logo{
        display: flex;
        justify-content: center;
        text-align: center;  
    }
    .nav{
        display: none;
    }
    .welcome{
        display: flex;
        justify-content: end;
        text-align: center;
        white-space: nowrap;
    }
    .main{
        padding: 50px;
        max-width: 35%;
    }
    .main .welcome{
        display: block;
        width: 100%;
    }
    .j-name{
    color: var(--laranja);
    }
    main .info-area h1{
        font-size: 25px;
        font-family: "Open Sans", sans-serif;
    }

    .main .info-area p{
        font-size: 16px;
        font-family: "Open Sans", sans-serif;
        padding-top: 8px;
    }
    .main .wrap{
        font-size: 14px;
    }

    .info-area, .info-area-cv{
        justify-content: center;
    }  
    
    .sobre{
        white-space: wrap;
    }
    .minha-foto img{
        display: none;
    }
    
}