@media screen and (max-width:798px){
    header{
        display: block;
        flex-direction: column;
    }
    .nav ul{
        display: block;
        flex-direction: column;
    }
    .nav ul li a{
        margin: 0 auto;
    }
    .main{
        display: block;
        width: 100%;
      
    }
    .main .welcome{
        text-align: center;
        overflow-wrap: break-word;
        margin-left: auto;
        margin-right: auto;
        
    }
    .minha-foto img{
        display: none;
    }
    
}

@media screen and (max-width:615px){
    .logo{
        display: flex;
        justify-content: center;
        text-align: center;  
    }
    .nav{
        display: none;
    }
    .welcome{
        display: flex;
        justify-content: end;
        text-align: center;
        white-space: nowrap;
    }
    .main{
        padding: 50px;
        max-width: 35%;
    }
    .main .welcome{
        display: block;
        width: 100%;
    }
    .j-name{
    color: var(--laranja);
    }
    main .info-area h1{
        font-size: 25px;
        font-family: "Open Sans", sans-serif;
    }

    .main .info-area p{
        font-size: 16px;
        font-family: "Open Sans", sans-serif;
        padding-top: 8px;
    }
    .main .wrap{
        font-size: 14px;
    }

    .info-area, .info-area-cv{
        justify-content: center;
    }  
    .wrap{
        white-space: wrap;
    }
    .sobre{
        white-space: wrap;
    }
    .minha-foto img{
        display: none;
    }
}
