
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --black: #121212;
    --white: #FBF9FF;
    --cinza:#A6A6A6;
    --cinzaEscuro:#3D3D3D;
    --cinzaClaro:#363636;
    
    
}


body{
    background-color: var(--black);
    margin: 0 60px;
    padding: 30px ;
    color: var(--white);
}
/* LOGO */
header{
    margin: 10px 0 36px 0;
    padding: 5px;
    
}
.logo{
    display: flex;
    justify-content: space-between;
    text-align: center;
    text-transform: uppercase;
}
.logo h1{
    color: var(--white);
    transition: 1s;
    
}
.logo h1:hover{
    color: var(--verde);
}
.info-area p{
    color: var(--cinza);
}
.cinza{
    color: var(--white);
    border-bottom: 1px solid var(--cinzaEscuro);
}


/* menu */
.nav {
    display: flex;
    justify-content: center;
    text-align: center;
}
.nav ul{
    display: flex;
    justify-content:space-between;
    text-align: center;
}
.nav ul li {
    list-style: none;
    
}
.nav ul li a{
    text-decoration: none;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 0 10px;
    
    padding: 15px;
    margin: 10px;
    border: 1px solid var(--cinzaClaro);
    border-radius: 20px;
    color: var(--cinza);
}
.nav ul li a:hover{
    color: var(--white);
    border: none;
    transition: all 0.9s;
}
.redes{
    display: flex;
    justify-content: center;
    margin-top: 25px;

}
.redes ul{
    display: flex;
    list-style: none;
}
.redes ul li{
    display: flex;
    padding: 15px;
    margin: 10px;
    border: 1px solid var(--cinzaClaro);
    border-radius: 20px;
    color: var(--cinza);
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
}

.redes ul li:hover{
    border:  none;
    color: var(--white);
}

.redes ul li i{
    margin: 5px ;
}
/*Fim menu*/

/*Começo main*/
.main{
    display: flex;
}
.main .welcome{
    flex-direction: column;
    text-align: justify;
    margin-top: 2%;
    width: 50%;
    
}
.j-name{
    color: var(--rosa);
}
main .info-area h1{
    font-size: 45px;
    font-family: "Open Sans", sans-serif;
    
}

.main .info-area p{
    font-size: 36px;
   font-family: "Open Sans", sans-serif;
    padding-top: 10px;
}
.main .info-area h3{
    font-size: 2rem;
    font-family: "Open Sans", sans-serif;
    padding-top: 10px;
}
.main .info-area-cv{
    
    border: none;
    margin: 15px 0;
    margin-top: 26px;
}
.main .info-area-cv a{
    padding: 8px 18px;
    color:var(--white) ;
    background: var(--rosa);
    border: 1px solid var(--cinzaEscuro);
    font-size: 26px;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 5px;
    transition: 1s;
    
}
.main .info-area-cv a:hover{
    background-color: var(--white);
    color:  var(--black);
    border: 1px solid var(--verde);
}
.main .minha-foto{
    display: flex;
    padding-left: 35%;
}
.main  .minha-foto img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid var(--cinza);
}


/* Sobre */

#sobre, .top-center, .tecnologias{
    margin-top: 15%;
    font-size: 1.8rem;
    border-top: 1px solid var(--cinza);
    
}
#sobre h2, .top-center h2, .tecnologias h2 {
    color: var(--rosa);
    font-size: 3rem;
}
#sobre-info #sobre a{
    text-decoration: none;
    color: var(--white);
    border-bottom: 1px solid;
    
}


/* cards-projetos */
.top-center, #sobre h2{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px 0;
}
.top-center h2{
    font-size: 3rem;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 10px;
    padding: 0 15px;
}
.top-center p{
    font-size: 1.2rem;
    color:#d9e6eb77 ;
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
    padding: 0 15px;
}


.info-cards{
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
}

.content{
    border-radius: 25px;
    min-width: 300px;
    box-sizing: border-box;
    margin: 25px 20px; 
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: #31424533;
    border: 1px solid rgba(255, 255, 255, 0.068);
    border-radius: 5px;
    max-width: 400px;
    box-sizing: border-box;
    margin: 25px 20px;
    box-shadow:  0 0 1em rgba(0, 0, 0, 0.318);
    position: relative;
    transform: translateY(20px);
    transition: 0.5s;
}
.card:hover{
    transform: translateY(0px);
    
}
.card img{
    width:100%;
    height: 300px;
    
}
.card h3{
    color: #ffff;
    font-size: 1.8em;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    border-bottom:1px solid rgba(255, 255, 255, 0.079) ;
    margin: 10px 0;
}
.card .skil{
    color: rgba(245, 222, 179, 0.7);
    font-size: 1.4em;

}
.card p{
    padding:0 10px;
    margin-bottom: 15px;

}


.btn{
    color: var(--white);
    background-color: var(--black);
    padding: 8px 18px;
    margin: 10px 0; 
    box-sizing: border-box;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 1.1em;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.btn:hover{
    color: var(--white);
    background-color: var(--cinzaEscuro);
    
}

.btn a{
    text-decoration: none;
    color: var(--white);
}



.tecnologias{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 120px;
   
}
.principais-tecnologias{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.img-h{
    width: 120px;
    height: 130px;
    padding: 15px;
}
.fa-brands{
    color: white;
}

.img-js, .img-c{
    width: 120px;
    height: 130px;
    padding: 20px;
}

.skill img:hover{
    width: 200px;
    height: 200px;
}


footer{
    display: flex;
    justify-content: center;
    text-align: center;
}