@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Open+Sans:wght@400;500;600&family=Poppins:ital,wght@0,200;0,400;0,500;0,600;1,300;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --blue: #0D1321;
    --white: #F0EBD8;
    --cinza: #3A3335;
    --amarelo: #EEC643;
    --transparente: rgba(255, 255, 255, 0.042)
}


body{
    background-color: #1b2a2c;
    margin: 0 100px;
    color: white;
}

header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    
    margin: 15px 0;
    padding-bottom:20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.042);
    
}
/*logo*/
.logo h1{
    color: white;
    font-size: 2.8rem;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
}

/*Começo menu*/
header .menu ul{
    display: flex;
    position: relative;
    text-decoration: none;
    text-align: center;
}
header .menu ul li{
    margin-left: 15px;
    display: flex;
    position: relative;
}
header a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(185, 185, 185);
    transition: all 1s;
    text-align: center;
    padding-top: 25px;
    font-size: 1rem;
}

header a:hover{
    color: var(--blue);
}
/*Fim menu*/

/*Começo main*/
.main{
    display: flex;
}
.main .welcome{
    flex-direction: column;
    text-align: justify;
    margin-top: 2%;
    width: 50%;
    
}
main .info-area h1{
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.main .info-area p{
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
}
.main .info-area h3{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
}
.main .info-area-cv{
    border: none;
    margin: 15px 0;
    margin-top: 26px;
}
.main .info-area-cv a{
    padding: 8px 18px;
    color:#EEC643 ;
    border: 1px solid #EEC643;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 5px;
    
}
.main .info-area-cv a:hover{
    background-color: #EEC643;
    color:  var(--blue);
}
.main .minha-foto{
    display: flex;
    margin:  auto;
}
.main  .minha-foto img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid var(--cinza);
}


/* Sobre */

#sobre, .top-center{
    margin-top: 10%;
    font-size: 1.8rem;
    border-top: 1px solid var(--transparente);
}
#sobre h2, .top-center h2 {
    color: #EEC643;
    font-size: 3rem;
}
#sobre-info #sobre a{
    text-decoration: none;
    color: var(--white);
    border-bottom: 1px solid;
    
}
#sobre-info #sobre a:hover{
    color: var(--amarelo);
    
}

/* cards-projetos */
.top-center, #sobre h2{
    display: block;
    text-align: center;
    margin: 15px 0;
}
.top-center h2{
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    padding: 0 15px;
}
.top-center p{
    font-size: 1.2rem;
    color:#d9e6eb77 ;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    padding: 0 15px;
}


.info-cards{
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
}

.content{
    border-radius: 5px;
    min-width: 300px;
    box-sizing: border-box;
    margin: 25px 20px; 
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: #31424533;
    border: 1px solid rgba(255, 255, 255, 0.068);
    border-radius: 5px;
    max-width: 300px;
    box-sizing: border-box;
    margin: 25px 20px;
    box-shadow:  0 0 1em rgba(0, 0, 0, 0.318);
    position: relative;
    transform: translateY(20px);
    transition: 0.5s;
}
.card:hover{
    transform: translateY(0px);
    
}
.card img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin:10px;
}
.card h3{
    color: #ffff;
    font-size: 1.8em;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    border-bottom:1px solid rgba(255, 255, 255, 0.079) ;
    margin: 10px 0;
}
.card .skil{
    color: rgba(245, 222, 179, 0.7);
    font-size: 1.4em;
}
.card p{
    padding:0 10px;
    margin-bottom: 15px;

}


.btn{
    color: black;
    background-color: rgb(255, 140, 0);
    padding: 8px 18px;
    margin: 10px 0; 
    box-sizing: border-box;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 1.1em;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 1em rgba(255, 217, 0, 0.279);
    cursor: pointer;
}

.btn:hover{
    background-color: black;
    color:rgb(255, 140, 0) ;
    box-shadow:  0 0 1em rgba(0, 0, 0, 0.637);
}



